In [2]:
import pandas as pd
import re
import time
import datetime
import pickle
from dateutil.relativedelta import relativedelta
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.linear_model import LogisticRegressionCV
import statsmodels.api as sm
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score
import numpy as np
#import scorecard_function 
#可能是作者自己的库

In [15]:
folderOfData = '/Users/zhijunwu/Desktop/A_Card/'

In [16]:
trainDataFile = open(folderOfData + 'trainData.pkl', 'rb')

In [17]:
import pprint, pickle

In [18]:
data1 = pickle.load(trainDataFile)
#print(data1)
pprint.pprint(data1)

       member_id  loan_amnt  term  loan_status int_rate emp_length  \
21001      21002       6250    36   Fully Paid    5.79%    2 years
36324      36325      25000    36   Fully Paid   12.53%     1 year
13517      13518       5000    36   Fully Paid   16.59%     1 year
36635      36636      18000    36   Fully Paid   11.89%    2 years
31632      31633       6000    36   Fully Paid   14.22%    2 years
39463      39465       7500    36   Fully Paid    8.38%   < 1 year
13195      13196       2800    36   Fully Paid   11.49%  10+ years
11950      11951      15000    36  Charged Off   15.99%  10+ years
4047        4048      30000    36   Fully Paid   14.27%    3 years
22665      22666       5850    36   Fully Paid   15.20%  10+ years
2557        2558       5000    36  Charged Off   15.96%    4 years
36261      36262       6250    36   Fully Paid   13.47%    6 years
37216      37217      13200    36   Fully Paid   13.47%    2 years
16            17      10000    36   Fully Paid   15.27%    4 years
14906      14907      15000    36   Fully Paid    8.49%    4 years
24689      24690      13500    36   Fully Paid    7.51%    4 years
22842      22843      18000    36   Fully Paid    9.25%    2 years
6301        6302       2000    36   Fully Paid   13.49%     1 year
19303      19304       6000    36   Fully Paid    6.92%        NaN
20049      20050       5000    36   Fully Paid   11.11%    3 years
15208      15209      18000    36   Fully Paid   13.49%  10+ years
23739      23740       4800    36   Fully Paid   12.61%    7 years
13203      13204       4800    36   Fully Paid    5.99%        NaN
10844      10845       3200    36   Fully Paid   13.49%   < 1 year
8124        8125      10000    36  Charged Off   12.99%     1 year
7484        7485       6000    36   Fully Paid    8.90%    5 years
36040      36041      10400    36   Fully Paid    9.32%     1 year
10327      10328       6375    36   Fully Paid    5.99%    6 years
1630        1631       5500    36   Fully Paid   12.69%     1 year
33141      33142       9000    36   Fully Paid    8.94%     1 year
...          ...        ...   ...          ...      ...        ...
22771      22772       5000    36   Fully Paid    9.25%     1 year
39283      39285      20000    36  Charged Off    9.51%  10+ years
15911      15912      30000    36   Fully Paid   16.89%    4 years
27221      27222      20000    36   Fully Paid    7.88%  10+ years
6850        6851      28250    36   Fully Paid   16.77%    7 years
9941        9942       3000    36   Fully Paid   11.49%    6 years
2430        2431      10000    36   Fully Paid   12.42%    5 years
35791      35792       8000    36  Charged Off   12.84%    4 years
34696      34697       8000    36   Fully Paid   12.53%    5 years
1999        2000      35000    36   Fully Paid   10.65%    3 years
1251        1252       6625    36   Fully Paid    6.03%  10+ years
15062      15063      10000    36   Fully Paid   10.59%  10+ years
35718      35719      19000    36   Fully Paid   11.48%     1 year
15031      15032      27050    36   Fully Paid   15.62%    5 years
27625      27626      14500    36   Fully Paid   10.38%     1 year
21755      21756       4900    36   Fully Paid   13.72%   < 1 year
36766      36767      12500    36   Fully Paid   11.89%  10+ years
23278      23279      10800    36   Fully Paid    8.88%    2 years
38137      38139       6400    36   Fully Paid    9.38%    3 years
8848        8849       9500    36   Fully Paid    5.99%     1 year
28130      28131       5000    36   Fully Paid   13.61%   < 1 year
36042      36043      10200    36   Fully Paid   13.16%    3 years
38338      38340      19000    36   Fully Paid   10.83%  10+ years
33003      33004       5000    36   Fully Paid   12.18%    6 years
5472        5473      10000    36   Fully Paid    6.03%   < 1 year
29926      29927       2000    36   Fully Paid   13.85%    8 years
39184      39186       8000    36   Fully Paid    9.76%    5 years
2235        2236      20000    36   Fully Paid   14.27%    6 years
12174      12175      35000    36  Charged Off   20.25%    7 years
8190        8191       3500    36   Fully Paid   10.99%   < 1 year

      home_ownership  annual_inc verification_status  \
21001       MORTGAGE    46500.00            Verified
36324           RENT   235000.00            Verified
13517           RENT    38000.04     Source Verified
36635           RENT    87000.00        Not Verified
31632            OWN    50000.00        Not Verified
39463            OWN    75000.00        Not Verified
13195            OWN    27560.00     Source Verified
11950       MORTGAGE    40000.00            Verified
4047        MORTGAGE    60000.00            Verified
22665           RENT    23500.00     Source Verified
2557            RENT    41000.00     Source Verified
36261            OWN    29004.00            Verified
37216           RENT    40000.00     Source Verified
16              RENT    42000.00        Not Verified
14906           RENT    60000.00        Not Verified
24689       MORTGAGE   100000.00            Verified
22842           RENT    39996.00        Not Verified
6301            RENT    45000.00        Not Verified
19303       MORTGAGE   126000.00            Verified
20049           RENT    45000.00        Not Verified
15208       MORTGAGE    50000.00            Verified
23739       MORTGAGE    32000.00     Source Verified
13203           RENT    89000.00            Verified
10844           RENT    31200.00     Source Verified
8124             OWN    34800.00        Not Verified
7484        MORTGAGE    53808.00        Not Verified
36040           RENT    40800.00        Not Verified
10327       MORTGAGE    75000.00        Not Verified
1630            RENT    20000.00        Not Verified
33141            OWN    40000.00        Not Verified
...              ...         ...                 ...
22771           RENT    28800.00            Verified
39283            OWN    80000.00        Not Verified
15911           RENT    75000.00     Source Verified
27221       MORTGAGE   110000.00            Verified
6850        MORTGAGE   120000.00     Source Verified
9941            RENT    42000.00        Not Verified
2430        MORTGAGE    65000.00     Source Verified
35791           RENT    47000.00     Source Verified
34696           RENT    47004.00        Not Verified
1999        MORTGAGE   112800.00            Verified
1251            RENT    16800.00            Verified
15062           RENT    72000.00     Source Verified
35718           RENT   175000.00            Verified
15031           RENT    73200.00            Verified
27625           RENT    30000.00            Verified
21755           RENT    21600.00        Not Verified
36766       MORTGAGE    72000.00            Verified
23278           RENT    36480.00        Not Verified
38137       MORTGAGE    36000.00        Not Verified
8848            RENT    28000.00     Source Verified
28130       MORTGAGE    85000.00     Source Verified
36042           RENT    42000.00     Source Verified
38338       MORTGAGE    54996.00        Not Verified
33003           RENT    14573.00        Not Verified
5472        MORTGAGE    63132.00     Source Verified
29926           RENT    44304.00        Not Verified
39184       MORTGAGE    40000.00        Not Verified
2235            RENT    82000.00            Verified
12174           RENT   120366.05            Verified
8190            RENT    62400.00        Not Verified

                                                    desc  ... inq_last_6mths  \
21001    Borrower added on 01/10/11 > I wish to conso...  ...              0
36324  We are trying to buy our dream home and are a ...  ...              3
13517    Borrower added on 06/10/11 > I would like to...  ...              2
36635  I would like to consolidate my credit card deb...  ...              0
31632                                                NaN  ...              3
39463  Trying to further consolidate high interest co...  ...              0
13195                                                NaN  ...              1
11950    Borrower added on 07/06/11 > Debt Consolidat...  ...              1
4047                                                 NaN  ...              1
22665    Borrower added on 12/06/10 > I am very relia...  ...              3
2557                                                 NaN  ...              1
36261   I just graduated from Mortuary School.  I am ...  ...              1
37216  Id like to pay off my credit card debt complet...  ...              2
16                                                   NaN  ...              2
14906                                                NaN  ...              0
24689    Borrower added on 10/14/10 > I am not the ty...  ...              0
22842    Borrower added on 11/29/10 > The money will ...  ...              1
6301                                                 NaN  ...              2
19303                                                NaN  ...              0
20049                                                NaN  ...              1
15208    Borrower added on 05/10/11 > I have been wor...  ...              1
23739    Borrower added on 11/05/10 > I plant to use ...  ...              1
13203                                                NaN  ...              1
10844    Borrower added on 07/22/11 > I plan on using...  ...              0
8124         Borrower added on 09/01/11 > Thank you<br/>  ...              1
7484                                                 NaN  ...              1
36040  using the unique situation that the country is...  ...              1
10327    Borrower added on 08/01/11 > This loan will ...  ...              0
1630                                                 NaN  ...              2
33141    Borrower added on 01/03/10 > Always pay my b...  ...              1
...                                                  ...  ...            ...
22771    Borrower added on 12/01/10 > it's very comfo...  ...              0
39283  I am needing a operation that is not fully cov...  ...              8
15911                                                NaN  ...              2
27221                                                NaN  ...              0
6850                                                 NaN  ...              0
9941                                                 NaN  ...              0
2430                                                 NaN  ...              0
35791  I have been in the process of paying off all m...  ...              1
34696  To whom it may concern:  Since college I have ...  ...              1
1999     Borrower added on 11/28/11 > The purpose of ...  ...              1
1251     Borrower added on 12/04/11 > personal needs<...  ...              2
15062                                                NaN  ...              1
35718  My wife and I got married 3 weeks ago.  We hav...  ...              1
15031    Borrower added on 05/17/11 > Discover $12,10...  ...              0
27625                                                NaN  ...              2
21755    Borrower added on 12/27/10 > thanks for lend...  ...              0
36766  Hello Sir/Madam, My lack of previous loan hist...  ...              2
23278    Borrower added on 11/26/10 > I am a lead off...  ...              1
38137  To pay off 3 credit cards and consolidate to h...  ...              1
8848     Borrower added on 08/22/11 > This loan will ...  ...              0
28130    Borrower added on 07/09/10 > Hello,<br/><br/...  ...              3
36042   I would save about $200 a month at 10% intere...  ...              2
38338   This particular loan will be used for debt co...  ...              4
33003    Borrower added on 01/11/10 > I plan to use t...  ...              0
5472                                                 NaN  ...              0
29926                                                NaN  ...              1
39184  I would like to sell my car but have an outsta...  ...              0
2235                                                 NaN  ...              1
12174                                                NaN  ...              1
8190    2007 Suzuki LT-R450 Four wheeler. Borrower ad...  ...              3

      mths_since_last_delinq mths_since_last_record open_acc  pub_rec  \
21001                    NaN                    NaN        8        0
36324                   40.0                    NaN       18        0
13517                    NaN                    NaN        4        0
36635                    NaN                    NaN       11        0
31632                    NaN                    NaN        4        0
39463                    0.0                    0.0        7        0
13195                    5.0                    NaN       10        0
11950                   56.0                    NaN       23        0
4047                     NaN                    NaN       13        0
22665                   71.0                   33.0        3        2
2557                    44.0                    NaN       17        0
36261                   38.0                    NaN        8        0
37216                    NaN                    NaN        4        0
16                      61.0                    NaN       14        0
14906                    NaN                    NaN       16        0
24689                    NaN                    NaN       10        0
22842                    NaN                    NaN        4        0
6301                     NaN                    NaN       11        0
19303                    NaN                    NaN       22        0
20049                   22.0                    NaN        5        0
15208                    NaN                   96.0       14        1
23739                    NaN                   75.0        9        2
13203                   42.0                    NaN        6        0
10844                    3.0                    NaN        6        0
8124                    48.0                    NaN       10        0
7484                     NaN                    NaN       12        0
36040                    NaN                    NaN        9        0
10327                    NaN                    NaN       17        0
1630                     NaN                    NaN        9        0
33141                    NaN                    NaN       16        0
...                      ...                    ...      ...      ...
22771                    NaN                    NaN        2        0
39283                    0.0                    0.0        4        0
15911                    NaN                    NaN       15        0
27221                    NaN                    NaN        9        0
6850                    15.0                    NaN        7        0
9941                    33.0                    NaN        3        0
2430                     NaN                    NaN        9        0
35791                    NaN                    NaN       10        0
34696                    NaN                    NaN       13        0
1999                     NaN                    NaN       17        0
1251                    79.0                    NaN        6        0
15062                   25.0                    NaN       10        0
35718                    NaN                    NaN       12        0
15031                   79.0                    NaN       21        0
27625                    NaN                    NaN        4        0
21755                   14.0                    NaN        8        0
36766                   28.0                    NaN        9        0
23278                    NaN                    NaN        5        0
38137                    NaN                    NaN       14        0
8848                     NaN                    NaN        6        0
28130                   14.0                    NaN        9        0
36042                    NaN                    NaN        8        0
38338                    NaN                    NaN        5        0
33003                    NaN                    NaN        7        0
5472                     NaN                    NaN       11        0
29926                   19.0                    NaN        5        0
39184                    0.0                    0.0        8        0
2235                     NaN                    NaN        7        0
12174                   23.0                    NaN        6        0
8190                    38.0                    NaN       12        0

       total_acc  pub_rec_bankruptcies  issue_d  earliest_cr_line  y
21001         14                   0.0   Jan-11            Sep-04  0
36324         37                   0.0   Jun-09            Aug-89  0
13517          7                   0.0   Jun-11            Jan-05  0
36635         17                   0.0   Jun-09            Dec-00  0
31632         10                   0.0   Mar-10            Jun-06  0
39463          9                   NaN   Jan-08            May-99  0
13195         34                   0.0   Jun-11            Aug-93  0
11950         36                   0.0   Jul-11            Jan-94  1
4047          26                   0.0   Nov-11            Oct-95  0
22665          5                   0.0   Dec-10            Mar-02  0
2557          24                   0.0   Nov-11            Oct-98  1
36261         36                   0.0   Jun-09            Sep-01  0
37216          4                   0.0   Apr-09            Feb-05  0
16            28                   0.0   Dec-11            Oct-98  0
14906         28                   0.0   May-11            Dec-96  0
24689         21                   0.0   Oct-10            Nov-99  0
22842          6                   0.0   Dec-10            Sep-05  0
6301          15                   0.0   Oct-11            Dec-05  0
19303         76                   0.0   Feb-11            Sep-64  0
20049         20                   0.0   Feb-11            Dec-96  0
15208         26                   1.0   May-11            Dec-94  0
23739          9                   0.0   Nov-10            Sep-04  0
13203         26                   0.0   Jun-11            Dec-96  0
10844         10                   0.0   Jul-11            Nov-05  0
8124          17                   0.0   Sep-11            Mar-05  1
7484          15                   0.0   Sep-11            Sep-03  0
36040         15                   0.0   Jul-09            May-01  0
10327         55                   0.0   Aug-11            Oct-94  0
1630          11                   0.0   Dec-11            Mar-04  0
33141         34                   0.0   Jan-10            Sep-97  0
...          ...                   ...      ...               ... ..
22771          6                   0.0   Dec-10            Jul-04  0
39283          4                   NaN   Feb-08            Nov-84  1
15911         28                   0.0   May-11            May-02  0
27221         27                   0.0   Aug-10            Jun-97  0
6850          19                   0.0   Sep-11            Aug-95  0
9941          11                   0.0   Aug-11            Sep-03  0
2430          13                   0.0   Nov-11            May-05  0
35791         16                   0.0   Aug-09            Jan-04  1
34696         21                   0.0   Oct-09            Sep-99  0
1999          35                   0.0   Dec-11            Aug-87  0
1251          17                   0.0   Dec-11            Aug-89  0
15062         32                   0.0   May-11            Jan-95  0
35718         26                   0.0   Aug-09            Feb-87  0
15031         45                   0.0   May-11            Feb-95  0
27625         14                   0.0   Aug-10            Jun-04  0
21755         12                   0.0   Dec-10            Apr-04  0
36766         16                   0.0   May-09            Jan-89  0

In [21]:
data1.shape

Index(['member_id', 'loan_amnt', 'term', 'loan_status', 'int_rate',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'desc', 'purpose', 'title', 'zip_code', 'addr_state', 'dti',
       'delinq_2yrs', 'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'total_acc',
       'pub_rec_bankruptcies', 'issue_d', 'earliest_cr_line', 'y'],
      dtype='object')

In [24]:
data1.columns

Index(['member_id', 'loan_amnt', 'term', 'loan_status', 'int_rate',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'desc', 'purpose', 'title', 'zip_code', 'addr_state', 'dti',
       'delinq_2yrs', 'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'total_acc',
       'pub_rec_bankruptcies', 'issue_d', 'earliest_cr_line', 'y'],
      dtype='object')

In [25]:
pd.set_option('display.max_columns',None)
data1.head()

,member_id,loan_amnt,term,loan_status,int_rate,emp_length,home_ownership,annual_inc,verification_status,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,total_acc,pub_rec_bankruptcies,issue_d,earliest_cr_line,y
21001,21002,6250,36,Fully Paid,5.79%,2 years,MORTGAGE,46500.00,Verified,Borrower added on 01/10/11 > I wish to conso...,small_business,Paying off cards for good,195xx,PA,3.33,0,0,NaN,NaN,8,0,14,0.0,Jan-11,Sep-04,0
36324,36325,25000,36,Fully Paid,12.53%,1 year,RENT,235000.00,Verified,We are trying to buy our dream home and are a ...,house,Dream Home,606xx,IL,11.73,0,3,40.0,NaN,18,0,37,0.0,Jun-09,Aug-89,0
13517,13518,5000,36,Fully Paid,16.59%,1 year,RENT,38000.04,Source Verified,Borrower added on 06/10/11 > I would like to...,debt_consolidation,Bill Pay,201xx,VA,4.07,0,2,NaN,NaN,4,0,7,0.0,Jun-11,Jan-05,0
36635,36636,18000,36,Fully Paid,11.89%,2 years,RENT,87000.00,Not Verified,I would like to consolidate my credit card deb...,debt_consolidation,Consolidate credit card debt,220xx,VA,19.71,0,0,NaN,NaN,11,0,17,0.0,Jun-09,Dec-00,0
31632,31633,6000,36,Fully Paid,14.22%,2 years,OWN,50000.00,Not Verified,NaN,car,tonys car,630xx,MO,14.09,0,3,NaN,NaN,4,0,10,0.0,Mar-10,Jun-06,0

In [28]:
data1.emp_length.unique()

array(['2 years', '1 year', '< 1 year', '10+ years', '3 years', '4 years',
       '6 years', nan, '7 years', '5 years', '8 years', '9 years'],
      dtype=object)

In [42]:
def careerYear(x):
    #对工作年限处理
    x=str(x)
    if x.find('10+')>-1:
        return 11
    elif x.find('< 1')>-1:
        return 0
    else:
        return int(re.sub('\D','',x))

In [43]:
strr='1 year'
a=careerYear(strr)
a

1

In [48]:
def covertDateString(x):
    mth_dict={'Jan': 1, 'Feb': 2, 'Mar': 3, 'Apr': 4, 'May': 5, 'Jun': 6, 'Jul': 7, 'Aug': 8, 'Sep': 9, 'Oct': 10,
                'Nov': 11, 'Dec': 12}
    if str(x)=='nan':
        return datetime.datetime.fromtimestamp(time.mktime(time.strptime('9900-1', '%Y-%m')))
    else:
        yr=int(x[4:6])
        if yr<=17:
            yr=2000+yr
        else:
            yr=1900+yr
        mth=mth_dict[x[:3]]
    return datetime.datetime(yr,mth,1)

In [46]:
datetime.datetime.fromtimestamp(time.mktime(time.strptime('9900-1','%Y-%m')))

datetime.datetime(9900, 1, 1, 0, 0)

In [49]:
data1['appl_date']=data1.issue_d.apply(lambda x: covertDateString(x))

In [51]:
data1

,member_id,loan_amnt,term,loan_status,int_rate,emp_length,home_ownership,annual_inc,verification_status,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,total_acc,pub_rec_bankruptcies,issue_d,earliest_cr_line,y,appl_date
21001,21002,6250,36,Fully Paid,5.79%,2 years,MORTGAGE,46500.00,Verified,Borrower added on 01/10/11 > I wish to conso...,small_business,Paying off cards for good,195xx,PA,3.33,0,0,NaN,NaN,8,0,14,0.0,Jan-11,Sep-04,0,2011-01-01
36324,36325,25000,36,Fully Paid,12.53%,1 year,RENT,235000.00,Verified,We are trying to buy our dream home and are a ...,house,Dream Home,606xx,IL,11.73,0,3,40.0,NaN,18,0,37,0.0,Jun-09,Aug-89,0,2009-06-01
13517,13518,5000,36,Fully Paid,16.59%,1 year,RENT,38000.04,Source Verified,Borrower added on 06/10/11 > I would like to...,debt_consolidation,Bill Pay,201xx,VA,4.07,0,2,NaN,NaN,4,0,7,0.0,Jun-11,Jan-05,0,2011-06-01
36635,36636,18000,36,Fully Paid,11.89%,2 years,RENT,87000.00,Not Verified,I would like to consolidate my credit card deb...,debt_consolidation,Consolidate credit card debt,220xx,VA,19.71,0,0,NaN,NaN,11,0,17,0.0,Jun-09,Dec-00,0,2009-06-01
31632,31633,6000,36,Fully Paid,14.22%,2 years,OWN,50000.00,Not Verified,NaN,car,tonys car,630xx,MO,14.09,0,3,NaN,NaN,4,0,10,0.0,Mar-10,Jun-06,0,2010-03-01
39463,39465,7500,36,Fully Paid,8.38%,< 1 year,OWN,75000.00,Not Verified,Trying to further consolidate high interest co...,credit_card,High Interest Credit Consolidation,100xx,NY,6.06,0,0,0.0,0.0,7,0,9,NaN,Jan-08,May-99,0,2008-01-01
13195,13196,2800,36,Fully Paid,11.49%,10+ years,OWN,27560.00,Source Verified,NaN,other,Other Loan,880xx,NM,23.38,2,1,5.0,NaN,10,0,34,0.0,Jun-11,Aug-93,0,2011-06-01
11950,11951,15000,36,Charged Off,15.99%,10+ years,MORTGAGE,40000.00,Verified,Borrower added on 07/06/11 > Debt Consolidat...,debt_consolidation,Save my sanity,615xx,IL,16.92,0,1,56.0,NaN,23,0,36,0.0,Jul-11,Jan-94,1,2011-07-01
4047,4048,30000,36,Fully Paid,14.27%,3 years,MORTGAGE,60000.00,Verified,NaN,debt_consolidation,Debt Consolidation,262xx,WV,17.80,0,1,NaN,NaN,13,0,26,0.0,Nov-11,Oct-95,0,2011-11-01
22665,22666,5850,36,Fully Paid,15.20%,10+ years,RENT,23500.00,Source Verified,Borrower added on 12/06/10 > I am very relia...,car,Angie's Loan,928xx,CA,2.86,0,3,71.0,33.0,3,2,5,0.0,Dec-10,Mar-02,0,2010-12-01
2557,2558,5000,36,Charged Off,15.96%,4 years,RENT,41000.00,Source Verified,NaN,credit_card,lower rate,117xx,NY,23.47,0,1,44.0,NaN,17,0,24,0.0,Nov-11,Oct-98,1,2011-11-01
36261,36262,6250,36,Fully Paid,13.47%,6 years,OWN,29004.00,Verified,I just graduated from Mortuary School. I am ...,debt_consolidation,Outta College Consolidation,764xx,TX,23.54,0,1,38.0,NaN,8,0,36,0.0,Jun-09,Sep-01,0,2009-06-01
37216,37217,13200,36,Fully Paid,13.47%,2 years,RENT,40000.00,Source Verified,Id like to pay off my credit card debt complet...,debt_consolidation,Pay off credit card debt,065xx,CT,12.72,0,2,NaN,NaN,4,0,4,0.0,Apr-09,Feb-05,0,2009-04-01
16,17,10000,36,Fully Paid,15.27%,4 years,RENT,42000.00,Not Verified,NaN,home_improvement,Home,921xx,CA,18.60,0,2,61.0,NaN,14,0,28,0.0,Dec-11,Oct-98,0,2011-12-01
14906,14907,15000,36,Fully Paid,8.49%,4 years,RENT,60000.00,Not Verified,NaN,debt_consolidation,Debt Consolodation,146xx,NY,18.32,0,0,NaN,NaN,16,0,28,0.0,May-11,Dec-96,0,2011-05-01
24689,24690,13500,36,Fully Paid,7.51%,4 years,MORTGAGE,100000.00,Verified,Borrower added on 10/14/10 > I am not the ty...,credit_card,High Interest CC Consolidation,601xx,IL,14.26,0,0,NaN,NaN,10,0,21,0.0,Oct-10,Nov-99,0,2010-10-01
22842,22843,18000,36,Fully Paid,9.25%,2 years,RENT,39996.00,Not Verified,Borrower added on 11/29/10 > The money will ...,debt_consolidation,Consolidation loan,451xx,OH,20.07,0,1,NaN,NaN,4,0,6,0.0,Dec-10,Sep-05,0,2010-12-01
6301,6302,2000,36,Fully Paid,13.49%,1 year,RENT,45000.00,Not Verified,NaN,other,Other Loan,082xx,NJ,15.95,0,2,NaN,NaN,11,0,15,0.0,Oct-11,Dec-05,0,2011-10-01
19303,19304,6000,36,Fully Paid,6.92%,NaN,MORTGAGE,126000.00,Verified,NaN,major_purchase,M1028,762xx,TX,12.74,0,0,NaN,NaN,22,0,76,0.0,Feb-11,Sep-64,0,2011-02-01
20049,20050,5000,36,Fully Paid,11.11%,3 years,RENT,45000.00,Not Verified,NaN,major_purchase,Education,112xx,NY,6.45,1,1,22.0,NaN,5,0,20,0.0,Feb-11,Dec-96,0,2011-02-01
15208,15209,18000,36,Fully Paid,13.49%,10+ years,MORTGAGE,50000.00,Verified,Borrower added on 05/10/11 > I have been wor...,debt_consolidation,3 year plan,535xx,WI,17.71,0,1,NaN,96.0,14,1,26,1.0,May-11,Dec-94,0,2011-05-01
23739,23740,4800,36,Fully Paid,12.61%,7 years,MORTGAGE,32000.00,Source Verified,Borrower added on 11/05/10 > I plant to use ...,other,car repairs,333xx,FL,23.25,0,1,NaN,75.0,9,2,9,0.0,Nov-10,Sep-04,0,2010-11-01
13203,13204,4800,36,Fully Paid,5.99%,NaN,RENT,89000.00,Verified,NaN,other,Personal Loan,731xx,OK,2.76,0,1,42.0,NaN,6,0,26,0.0,Jun-11,Dec-96,0,2011-06-01
10844,10845,3200,36,Fully Paid,13.49%,< 1 year,RENT,31200.00,Source Verified,Borrower added on 07/22/11 > I plan on using...,debt_consolidation,Improvement,750xx,TX,14.35,2,0,3.0,NaN,6,0,10,0.0,Jul-11,Nov-05,0,2011-07-01
8124,8125,10000,36,Charged Off,12.99%,1 year,OWN,34800.00,Not Verified,Borrower added on 09/01/11 > Thank you<br/>,debt_consolidation,pay off,129xx,NY,24.14,0,1,48.0,NaN,10,0,17,0.0,Sep-11,Mar-05,1,2011-09-01
7484,7485,6000,36,Fully Paid,8.90%,5 years,MORTGAGE,53808.00,Not Verified,NaN,debt_consolidation,Debt Consolidation,971xx,OR,15.88,0,1,NaN,NaN,12,0,15,0.0,Sep-11,Sep-03,0,2011-09-01
36040,36041,10400,36,Fully Paid,9.32%,1 year,RENT,40800.00,Not Verified,using the unique situation that the country is...,educational,Student Loan,802xx,CO,14.47,0,1,NaN,NaN,9,0,15,0.0,Jul-09,May-01,0,2009-07-01
10327,10328,6375,36,Fully Paid,5.99%,6 years,MORTGAGE,75000.00,Not Verified,Borrower added on 08/01/11 > This loan will ...,debt_consolidation,Complete Debt Consolidation,333xx,FL,29.92,0,0,NaN,NaN,17,0,55,0.0,Aug-11,Oct-94,0,2011-08-01
1630,1631,5500,36,Fully Paid,12.69%,1 year,RENT,20000.00,Not Verified,NaN,debt_consolidation,Debt Consolidation Loan,750xx,TX,21.30,0,2,NaN,NaN,9,0,11,0.0,Dec-11,Mar-04,0,2011-12-01
33141,33142,9000,36,Fully Paid,8.94%,1 year,OWN,40000.00,Not Verified,Borrower added on 01/03/10 > Always pay my b...,other,nice,432xx,OH,12.42,0,1,NaN,NaN,16,0,34,0.0,Jan-10,Sep-97,0,2010-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22771,22772,5000,36,Fully Paid,9.25%,1 year,RENT,28800.00,Verified,Borrower added on 12/01/10 > it's very comfo...,medical,personal loan,950xx,CA,1.88,0,0,NaN,NaN,2,0,6,0.0,Dec-10,Jul-04,0,2010-12-01
39283,39285,20000,36,Charged Off,9.51%,10+ years,OWN,80000.00,Not Verified,I am needing a operation that is not fully cov...,medical,surgery needed asap,106xx,NY,0.22,0,8,0.0,0.0,4,0,4,NaN,Feb-08,Nov-84,1,2008-02-01
15911,15912,30000,36,Fully Paid,16.89%,4 years,RENT,75000.00,Source Verified,NaN,small_business,expansion,916xx,CA,9.41,0,2,NaN,NaN,15,0,28,0.0,May-11,May-02,0,2011-05-01
27221,27222,20000,36,Fully Paid,7.88%,10+ years,MORTGAGE,110000.00,Verified,NaN,home_improvement,Better Home,330xx,FL,8.87,0,0,NaN,NaN,9,0,27,0.0,Aug-10,Jun-97,0,2010-08-01
6850,6851,28250,36,Fully Paid,16.77%,7 years,MORTGAGE,120000.00,Source Verified,NaN,debt_consolidation,DebtDent,605xx,IL,6.19,1,0,15.0,NaN,7,0,19,0.0,Sep-11,Aug-95,0,2011-09-01
9941,9942,3000,36,Fully Paid,11.49%,6 years,RENT,42000.00,Not Verified,NaN,wedding,Wedding,212xx,MD,3.00,0,0,33.0,NaN,3,0,11,0.0,Aug-11,Sep-03,0,2011-08-01
2430,2431,10000,36,Fully Paid,12.42%,5 years,MORTGAGE,65000.00,Source Verified,NaN,debt_consolidation,Debt Consolidation,945xx,CA,15.07,0,0,NaN,NaN,9,0,13,0.0,Nov-11,May-05,0,2011-11-01
35791,35792,8000,36,Charged Off,12.84%,4 years,RENT,47000.00,Source Verified,I have been in the process of paying off all m...,debt_consolidation,Paying off last credit card!!,087xx,NJ,14.76,0,1,NaN,NaN,10,0,16,0.0,Aug-09,Jan-04,1,2009-08-01
34696,34697,8000,36,Fully Paid,12.53%,5 years,RENT,47004.00,Not Verified,To whom it may concern: Since college I have ...,debt_consolidation,Forward Progress Loan,802xx,CO,22.90,0,1,NaN,NaN,13,0,21,0.0,Oct-09,Sep-99,0,2009-10-01
1999,2000,35000,36,Fully Paid,10.65%,3 years,MORTGAGE,112800.00,Verified,Borrower added on 11/28/11 > The purpose of ...,debt_consolidation,Personal,144xx,NY,14.35,0,1,NaN,NaN,17,0,35,0.0,Dec-11,Aug-87,0,2011-12-01
1251,1252,6625,36,Fully Paid,6.03%,10+ years,RENT,16800.00,Verified,Borrower added on 12/04/11 > personal needs<...,other,Personal needs,959xx,CA,20.29,0,2,79.0,NaN,6,0,17,0.0,Dec-11,Aug-89,0,2011-12-01
15062,15063,10000,36,Fully Paid,10.59%,10+ years,RENT,72000.00,Source Verified,NaN,credit_card,payoff,800xx,CO,20.72,0,1,25.0,NaN,10,0,32,0.0,May-11,Jan-95,0,2011-05-01
35718,35719,19000,36,Fully Paid,11.48%,1 year,RENT,175000.00,Verified,My wife and I got married 3 weeks ago. We hav...,credit_card,Just married software executives,943xx,CA,12.73,0,1,NaN,NaN,12,0,26,0.0,Aug-09,Feb-87,0,2009-08-01
15031,15032,27050,36,Fully Paid,15.62%,5 years,RENT,73200.00,Verified,"Borrower added on 05/17/11 > Discover $12,10...",debt_consolidation,Debt Consolidation Loan,844xx,UT,24.38,0,0,79.0,NaN,21,0,45,0.0,May-11,Feb-95,0,2011-05-01
27625,27626,14500,36,Fully Paid,10.38%,1 year,RENT,30000.00,Verified,NaN,debt_consolidation,"My Horrible, No, Good, Very Bad Debt",189xx,PA,18.80,0,2,NaN,NaN,4,0,14,0.0,Aug-10,Jun-04,0,2010-08-01
21755,21756,4900,36,Fully Paid,13.72%,< 1 year,RENT,21600.00,Not Verified,Borrower added on 12/27/10 > thanks for lend...,other,personal,109xx,NY,10.94,1,0,14.0,NaN,8,0,12,0.0,Dec-10,Apr-04,0,2010-12-01
36766,36767,12500,36,Fully Paid,11.89%,10+ years,MORTGAGE,72000.00,Verified,"Hello Sir/Madam, My lack of previous loan hist...",credit_card,New Deal,770xx,TX,0.25,0,2,28.0,NaN,9,0,16,0.0,May-09,Jan-89,0,2009-05-01
23278,23279,10800,36,Fully Paid,8.88%,2 years,RENT,36480.00,Not Verified,Borrower added on 11/26/10 > I am a lead off...,debt_consolidation,Tysons Loan,775xx,TX,4.47,0,1,NaN,NaN,5,0,9,0.0,Nov-10,Aug-06,0,2010-11-01
38137,38139,6400,36,Fully Paid,9.38%,3 years,MORTGAGE,36000.00,Not Verified,To pay off 3 credit cards and consolidate to h...,debt_consolidation,Consolidation,806xx,CO,19.03,0,1,NaN,NaN,14,0,24,0.0,Dec-08,Aug-97,0,2008-12-01
8848,8849,9500,36,Fully Paid,5.99%,1 year,RENT,28000.00,Source Verified,Borrower added on 08/22/11 > This loan will ...,debt_consolidation,Consolidate,238xx,VA,9.90,0,0,NaN,NaN,6,0,16,0.0,Aug-11,Jan-04,0,2011-08-01
28130,28131,5000,36,Fully Paid,13.61%,< 1 year,MORTGAGE,85000.00,Source Verified,"Borrower added on 07/09/10 > Hello,<br/><br/...",debt_consolidation,personal,194xx,PA,13.47,1,3,14.0,NaN,9,0,27,0.0,Jul-10,Apr-00,0,2010-07-01
36042,36043,10200,36,Fully Paid,13.16%,3 years,RENT,42000.00,Source Verified,I would save about $200 a month at 10% intere...,debt_consolidation,"Credit cards, car lean, and school loan",660xx,KS,14.57,0,2,NaN,NaN,8,0,27,0.0,Jul-09,Sep-01,0,2009-07-01
38338,38340,19000,36,Fully Paid,10.83%,10+ years,MORTGAGE,54996.00,Not Verified,This particular loan will be used for debt co...,debt_consolidation,Mitchell - Debt Consolidation,600xx,IL,14.34,0,4,NaN,NaN,5,0,31,0.0,Nov-08,Apr-97,0,2008-11-01
33003,33004,5000,36,Fully Paid,12.18%,6 years,RENT,14573.00,Not Verified,Borrower added on 01/11/10 > I plan to use t...,other,Excellent Credit Loan,243xx,VA,10.95,0,0,NaN,NaN,7,0,10,0.0,Jan-10,Nov-03,0,2010-01-01
5472,5473,10000,36,Fully Paid,6.03%,< 1 year,MORTGAGE,63132.00,Source Verified,NaN,other,Roof,841xx,UT,8.34,0,0,NaN,NaN,11,0,17,0.0,Oct-11,Aug-86,0,2011-10-01
29926,29927,2000,36,Fully Paid,13.85%,8 years,RENT,44304.00,Not Verified,NaN,major_purchase,Auto Loan 2004 Sentra,212xx,MD,7.94,2,1,19.0,NaN,5,0,20,0.0,May-10,Jun-01,0,2010-05-01
39184,39186,8000,36,Fully Paid,9.76%,5 years,MORTGAGE,40000.00,Not Verified,I would like to sell my car but have an outsta...,car,Payoff Auto Loan so I can sell my car,752xx,TX,18.72,0,0,0.0,0.0,8,0,35,NaN,Feb-08,Feb-90,0,2008-02-01
2235,2236,20000,36,Fully Paid,14.27%,6 years,RENT,82000.00,Verified,NaN,debt_consolidation,credit cars conso,100xx,NY,9.79,0,1,NaN,NaN,7,0,9,0.0,Dec-11,Jan-01,0,2011-12-01
12174,12175,35000,36,Charged Off,20.25%,7 years,RENT,120366.05,Verified,NaN,debt_consolidation,Debt Consolidation Loan,277xx,NC,15.33,1,1,23.0,NaN,6,0,19,0.0,Jul-11,Jan-94,1,2011-07-01
8190,8191,3500,36,Fully Paid,10.99%,< 1 year,RENT,62400.00,Not Verified,2007 Suzuki LT-R450 Four wheeler. Borrower ad...,major_purchase,Ebay Purchase,158xx,PA,11.98,0,3,38.0,NaN,12,0,33,0.0,Sep-11,Dec-01,0,2011-09-01